Hello confo!
<%= @test %>
<!-- <form action="/game" method="get">
<button name="Play" type="submit" value=="play"<%=@status %> >Play</button>
</form> -->

<button id="Game" type="button" <%=@status %> >Play</button>


<script type="text/javascript">
    document.getElementById("Game").onclick = function () {
        location.href = "/game";
    };
</script>