<h1>Welcome to the GAME <%=@player %></h1> <br />
<form method="get" action="/game">
<% 	[*"A".."J"].each do |l| %>
<% [*1..10].each do |n| %>
<% sym = (l+n.to_s).to_sym %>
<% status="enabled" %>
<% status="disabled" if @buttons.grid[sym]=="h" %>
  <button id="pushed" type="button" name="pushed" <%=status%> value=<%=l+n.to_s%>><%= l+n.to_s%></button>
<% if n == 10 %>
  <br>
<% end %>
  <% end %>
  <% end %>
 </form>



 <script type="text/javascript">
    document.getElementById("pushed").onclick = function () {
        location.href = "/game";
    };
</script>