#submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



<h1>Welcome to the GAME <%=@player %></h1> <br />
<form method="get" action="/game">
<% 	[*"A".."J"].each do |l| %>
<% [*1..10].each do |n| %>
<% sym = (l+n.to_s).to_sym %>
<% status="enabled" %>
<% status="disabled" if @buttons.grid[sym]=="h" %>
  <button id="button" type="submit" name="button" <%=status%> value="<%=l+n.to_s%>"><%= l+n.to_s%></button>
<% if n == 10 %>
  <br>
<% end %>
  <% end %>
  <% end %>
 </form>



 <script type="text/javascript">
    document.getElementById("button").onclick = function () {
        location.href = "/game";
    };
</script>


