<div>
  What is your name?
  <% if !@player1.empty? %>
    is it <%= @player1 %> ?
  <% else %>
   Please go back to the form.
   <form action="/newgame">
   <input type="submit">
  <% end %>
  <%= session[:p1] %>
  <%= session[:p2] %>
</div>
