<style type="text/css">h2 {color: #953;
    font: Helvetica, Arial, sans-serif;
    background-image: url(/images/kitten.png);
    background-repeat: no-repeat;}
</style>
<div>   
  <% if @visitor %>
    <h2>Hello, <%= @visitor %>! </h2>
  <% else %>  
    <form action="/hello">
      My name is <%= @name %>.
      What's ypur name?  
      <input type="text" name="name">
      <input type="submit">
    </form>  
  <% end %>
    <img src='/images/kitten.png'></img>  
    <img src='/images/kitten.png'></img>
  </div>
</div>